li id="notification_#{notification.id}"
    = link_to "#{notification.user.name} #{t(:invited_you_to_part_of_his_group)} #{notification.notifiable.community.name}" ,
            community_url(notification.notifiable.community.subdomain,:not_id=>notification.id)

li.divider
