div class="col-lg-12"
  div class="col-lg-8"
    h3
      = t(:invites)
    small id="titlelHelp" class="form-text text-muted"
      = t(:invites_help_intro)
  div class="col-lg-4"
      = link_to t(:new_invite), new_community_invite_url(@community), remote: true, class: "btn btn-info"
  div class="col-lg-12"
    div id="allinvites" class="col-lg-12"
      - if @invites.empty?
        = t(:no_invites)
      - else
        div class="col-lg-12 text-center"
          = will_paginate @invites, {link_options: {'data-remote': true}, renderer: BootstrapPagination::Rails }
        div class="col-lg-12"
          table class="table table-hover"
            thead
              tr
                th scope="col"
                  = t(:send_by)
                th scope="col"
                  = t(:emails_on_list)
                th scope="col"
                  = t(:to_current_users)
                th scope="col"
                  = t(:to_extrenal_users)
                th
                  = t(:acepted)
                th scope="col"
                  = t(:send_at)
            tbody
              - @invites.each do |invite|
                =  render invite
