tr
  td
     = invite.user.name
  td
    = invite.emails
  td
    = invite.send_notifications
  td
    = invite.send_emails
  td
    = invite.invitation_sends.where('accepted is not null').count
  td
    = invite.created_at
    / link_to 'edit', edit_community_invite_url(invite.community.subdomain,invite.id)
