
  div class="container"
    div class="col-lg-12"
      div class="page-header"
          h1
            = t(:events)
            | :
      div class=""
        h1
          = t(:edit)
          = t(:ticket_type)
      div class=""
        == render 'form'
      div class=""
        => link_to 'Show', @ticket_type
        '|
        =< link_to 'Back', ticket_types_path
