
  div class="container"
    div class="col-lg-12r"
      div class="page-header"
          h1
            = t(:ticket_types)
            | :
      div class=""
        p#notice = notice

        p
          strong Name:
          = @ticket_type.name
      div class=""
        => link_to t(:edit), edit_ticket_type_path(@ticket_type)
        '|
        =< link_to t(:back), ticket_types_path
