div class="container"
   div class="col-lg-12"
     div class="page-header"
       h2 class="display-3"
         = t(:add)
         | &nbsp;
         = t(:carousel)
     == render 'form'

     = link_to 'Back', carousels_path
