li id="notification_#{notification.id}"
    = link_to "#{notification.user.name} #{t(:added_new_board_message)} #{notification.notifiable.board.community.name}" ,
            community_url(notification.notifiable.board.community.subdomain,:not_id=>notification.id)

li.divider
