div class="list-group-item col-lg-2 text-center" style="margin: 0.25em;"
    = image_tag badge.image.url, size: "90x90"
    br
    b = badge.name
    br
    = t(:awarded,times: badge.user_badges.count)
    - if user_signed_in?
      br
      - if badge.owner_id==current_user.id
        = link_to t(:edit), edit_badge_path(badge.id)
      - if badge.claim_until>=Date.today && badge.expire>Date.today
        '|
        = link_to t(:claim), badge_claim_path(badge.uuid)
        '|
        = link_to t(:qrcode), qrcode_badge_path(badge.uuid)
