div class="container"
 div class="bs-docs-section clearfix"
  div class="row"
    div class="page-header"
    div class="col-lg-12 text-center"
      = t(:congratulations)
      | &nbsp;
      = link_to current_user.name,user_custom_url(current_user.id,current_user.name)
      | &nbsp;
      = t(:you_have_earn_a_new_badge)
      br
      = image_tag @user_badge.badge.image.url, size: "90x90" unless @user_badge.nil?
      br
      = @user_badge.badge.name unless @user_badge.nil?
      br
      = @user_badge.badge.description unless @user_badge.nil?
