div class="container"
 div class="col-lg-12"
    div class="page-header"
      - if notice
        div class="col-lg-12"
          div class="alert alert-dismissible alert-success"
            button type="button" class="close" data-dismiss="alert"
              | &times;
            = notice
    div class="col-lg-12"
     - unless @event.nil?
        = render @event
        div class="col-lg-12 text-center"
          = t(:event_badges_title)
     - else
       = t(:site_badges)
     div class="col-lg-12 text-center"
       - if @badges.count.to_i<3.to_i
         div class="col-lg-10 text-center"
           = link_to t(:add_badge_to_event), new_badge_path(:event_id=> @event.id) unless @event.nil?
     div class="col-lg-10"
       = will_paginate @badges, renderer: BootstrapPagination::Rails
       div class="list-group"
         - @badges.each do |badge|
           = render badge
       = will_paginate @badges, renderer: BootstrapPagination::Rails
