div class="container"
 div class="col-lg-12"
    div class="page-header"
    div class="col-lg-12"
      p#notice = notice

      p
        strong Name:
        = @badge.name
      p
        strong Description:
        = @badge.description
      p
        strong Criteria:
        = @badge.criteria
      p
        strong Expire:
        = @badge.expire
      p
        strong Tags:
        = @badge.tags
      p
        strong Claim until:
        = @badge.claim_until

      => link_to 'Edit', edit_badge_path(@badge)
      '|
      =< link_to 'Back', badges_path
