div class="bs-docs-section clearfix"
    div class="row"
      - if notice
        div class="col-lg-12"
         div class="page-header"
          div class="alert alert-dismissible alert-success"
            button type="button" class="close" data-dismiss="alert"
              | &times;
            = notice

    .bs-docs-section.clearfix
      .row
      .container
        .splash
          - unless @page.nil?
            == render 'shared/carousel'
    div class="row"
      | &nbsp;
    /! By davisclick
    section#about
      .container
        .container
          .row
            .col-md-12
              .title
                h2 ¿Quienes Somos?
                p Somos una meta-comunidad que busca agrupar las distintas Comunidades y Grupos de Software, Cultura y Conocimiento Libre que existen en Panamá
          .row
            .col-md-6.col-xs-12.col-sm-12
              .feature-block.text-center
                .icon-box
                  i.fa.fa-user-o.fa-5x
                h4.wow.fadeInUp data-wow-delay=".3s"  ¿Por qué Nace?
                p.wow.fadeInUp data-wow-delay=".5s"
                  | Nace de la necesidad de contar con un lugar centralizado donde poder publicar e intercambiar información entre las Comunidades de Software, Cultura y Conocimiento Libre, de manera que éstas puedan apoyarse mutuamente
            .col-md-6.col-xs-12.col-sm-12
              .feature-block.text-center
                .icon-box
                  i.fa.fa-handshake-o.fa-5x
                h4.wow.fadeInUp data-wow-delay=".3s"  ¿Qué Buscamos?
                p.wow.fadeInUp data-wow-delay=".5s"
                  | Buscamos proporcionar un espacio común dónde intercambiar conocimientos, experiencias, información y organizar actividades para promover que otras personas conozcan sobre el Software, Cultura y Conocimiento Libre en Panamá
    section#participate
      .container
        .row
          .title
            h2 Como Participar en Floss-Pa
            p Puedes participar en FLOSS-Pa de distintas formas
          .col.col-md-6
            .media.wow.fadeInLeft data-wow-delay=".3s"
              .media-left
                i.fa.fa-street-view.fa-3x
              .media-body
                h4.media-heading FLOSS-Parking
                p Un evento social informal, presencial o virtual realizado un sábado de cada mes; conversamos, invitamos personas que quieran conocer a la comunidad o planificamos actividades
          .col.col-md-6
            .media.wow.fadeInRight data-wow-delay=".3s"
              .media-left
                i.fa.fa-comments.fa-3x
              .media-body
                h4.media-heading REDES SOCIALES Y CHATS
                p Para hacer preguntas y enterarte de nuestros eventos y actividades, siguenos en #{link_to "Instagram","https://www.instagram.com/flosspanama", target: "_blank"} #{link_to "Twitter","https://twitter.com/flosspa", target: "_blank"} #{link_to "Facebook","https://www.facebook.com/flosspa",target: "_blank"} #{link_to "Google+","https://plus.google.com/communities/113233271634131928687",target: "_blank"} Chats en #{link_to "Telegram","https://t.me/flosspa", target: "_blank"} y canal de IRC  #floss-pa en #{link_to "Freenode","https://webchat.freenode.net/", target: "_blank"}
          .col.col-md-6
            .media.wow.fadeInLeft data-wow-delay=".3s"
              .media-left
                i.fa.fa-envelope.fa-3x
              .media-body
                h4.media-heading LISTA DE CORREOS
                p
                  | Lista de correos abierta y pública que cualquier persona puede leer (pero sólo puedes mandar correos si estás en ella).
                  | Si deseas estar más al tanto de la organización de nuestras actividades y/o ayudarnos a organizarlas,
                  a href="https://listas.floss-pa.org/cgi-bin/mailman/listinfo/comunidad"  inscribete aquí
          .col.col-md-6
            .media.wow.fadeInRight data-wow-delay=".3s"
              .media-left
                i.fa.fa-gitlab.fa-3x
              .media-body
                h4.media-heading PROYECTOS EN GitLab
                p
                  | En nuestro repositorio de
                  a href="https://gitlab.com/floss-pa"  GitLab
                  | &nbsp;podras encontrar proyecto en los cuales puedes colaborar, los mismos pueden ser de organización o programación
