
div class="container"
  div class="col-lg-12"
    div class="page-header"
      - if notice
        div class="col-lg-12"
         div class="page-header"
          div class="alert alert-dismissible alert-success"
            button type="button" class="close" data-dismiss="alert"
              | &times;
            = notice
      div class="col-lg-12"
        div class="row"
          p class="lead"
            = sanitize @page.content
