li id="notification_#{notification.id}"
    = link_to "#{notification.user.name} #{t(:is_going_to_your_event)} #{notification.notifiable.ticket.event.name}" ,
            event_url(notification.notifiable.ticket.event,:not_id=>notification.id)

li.divider
