= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      h2 = "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      ul
        - @event.errors.full_messages.each do |message|
          li = message
  div class="row"
    div class="form-group col-lg-6"
      = f.label t(:title), class: "form-input-label col-form-label-sm"
      = f.text_field :title, placeholder: t(:name_of_your_event), size: 50, required: true, minlength: "10", maxlength: "50", class: "form-control  form-control-sm"
      div class="text-warning"
        | * &nbsp;
        = t(:required) + ", " + t(:max_length, num_chars: 50)
  div class="row"
    div class="form-group col-lg-6"
      = f.label t(:start_at), class: "control-label"
      div class="form-group"
        div class="input-group col-lg-8"
          = f.text_field :start_at_date, value: (f.object.start_at_date.strftime("%Y-%m-%d") unless f.object.start_at.nil? ),required: true, "data-provide": "datepicker", "data-date-format": "yyyy-mm-dd", placeholder: DateTime.now.strftime("%Y-%m-%d"), class: "form-control"
          div class="input-group-addon"
             div class="input-group-text"
                 i class="glyphicon glyphicon-calendar"
          div class="input-group"
            = f.text_field :start_at_time, size: 9, value: (f.object.start_at_time.strftime("%I:%M %p") unless f.object.start_at.nil? ), required: true, "data-provide": "timepicker", "data-default-time": DateTime.now.strftime("%I:%M %p"), placeholder: DateTime.now.strftime("%I:%M %p"), class: "form-control"
            div class='input-group-addon'
              div class="input-group-text"
                i class='glyphicon glyphicon-time'
      div class="text-warning"
        | * &nbsp;
        = t(:required)

    div class="form-group col-lg-6"
      = f.label t(:end_at), class: "control-label"
      div class="form-group"
        div class="input-group col-lg-8"
          = f.text_field :end_at_date, value: (f.object.end_at_date.strftime("%Y-%m-%d") unless f.object.end_at.nil? ), required: true, "data-provide": "datepicker", "data-date-format": "yyyy-mm-dd", placeholder: DateTime.now.strftime("%Y-%m-%d"), class: "form-control"
          div class="input-group-addon"
             div class="input-group-text"
              i class="glyphicon glyphicon-calendar"
          div class="input-group"
            = f.text_field :end_at_time, size: 9, value: (f.object.start_at_time.strftime("%I:%M %p") unless f.object.end_at.nil?), required: true, "data-provide": "timepicker", "data-default-time": DateTime.now.strftime("%I:%M %p"), placeholder: DateTime.now.strftime("%I:%M %p"), class: "form-control"
            div class='input-group-addon'
              div class="input-group-text"
                i class='glyphicon glyphicon-time'
      div class="text-warning"
        | * &nbsp;
        = t(:required)
  div class="form-group"
    - %w[x y x2 y2 w h vy].each do |attribute|
      = f.hidden_field "crop_#{attribute}", id: "crop_#{attribute}"
    = f.label t(:image), class: "form-input-label"
    div id="Preview" class="text-center"
        div class="thumbnail text-center"
          - if @event.image.url.include?('event_default')
            = image_tag "no_event_image.png", id: "image"
          - else
            = image_tag @event.image.url, id: "image"
    div class="input-group mb-3"
      div class="custom-file"
        = f.file_field :image, class: "custom-file-input"
    div class="text-info"
      = t(:event_image_information)
  div class="form-group"
    = f.label t(:location), class: "form-input-label"
    = f.text_field :location, placeholder: t(:place_where_your_event), required: true, minimal: 10, class: "form-control"
    div class="text-warning"
      | * &nbsp;
      = t(:required)
    div class="text-info"
      = t(:location_instruction)
  div class="form-group "
    = f.hidden_field :latitude, class: "form-control"
    = f.hidden_field :longitude, class: "form-control"
    = map(center: {latlng: [8.984062, -79.521593],zoom: 14})
  div class="row"
    div class="form-group col-lg-6"
      = f.label t(:frecuency), class: "form-input-label"
      = f.text_field :frecuency, class: "form-control"
  div class="form-group "
    = f.label t(:description), required: true, class: "form-input-label"
    = f.bootsy_area :description,rows: 20, class: "form-control"
  div class="row"
    div class="form-group col-lg-6"
      = f.label t(:keywords), placeholder: t(:keywords), class: "form-input-label"
      = f.text_field :keyworkds, placeholder: "Open Source, Fedora, Ruby, Security, etc", class: "form-control"
      div class="text-warning"
        | * &nbsp;
        = t(:required)
  div class="row "
    div class="col-lg-6"
      label class="form-input-label-sm"
        = t(:tickets)
        | :
    div class="col-lg-6"
        = f.label t(:ticket_url), class: "form-input-label-sm"
        | :
    div class="col-lg-12"
      = f.fields_for :tickets do |ticket_form|

        div class="form-group-sm col-lg-6"
          div class="col-md-8"
            = ticket_form.label t(:ticket_type), class: "form-input-label-sm"
            | : &nbsp;
            = ticket_form.select :ticket_type_id, TicketType.all.collect {|t| [t.name,t.id]}, class: "form-control-sm"
            | &nbsp;&nbsp;
            = ticket_form.label t(:ticket_amount), class: "form-input-label-sm"
            |: &nbsp;
          div class="col-md-4"
              = ticket_form.number_field :amount, min: 1, max: 9999, class: "form-control-sm col-md-8"
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              lable class="form-input-label-sm"
                = t(:or)

        div class="form-group col-lg-6"
          = f.text_field :ticket_url, placeholder: t(:sample_ticket_url),type: "url", class: "form-control-sm"
    div class="col-lg-12 form-group"
      div class="text-info"
        = t(:tickets_info)
  - unless @community.nil?
    = hidden_field :community_id, @community.id
  div class="form-group "
    br
    = f.submit t(:save), name: 'draft', class: "btn btn-primary"
    | &nbsp;
    = f.submit t(:publish), name: 'publish', title: t(:publish_tooltip), data: {toggle: "tooltip", placement: "bottom"}, class: "btn btn-success" unless @event.publish
    = f.submit t(:unpublish), name: 'unpublish', title: t(:unpublish_tooltip), data: {toggle: "tooltip", placement: "bottom"}, class: "btn btn-warning" if @event.publish
