li id="notification_#{notification.id}"
    = link_to "#{notification.user.name} #{t(:added_a_new_subject)} #{notification.notifiable.community.name}" ,
            community_url(notification.notifiable.community.subdomain,:not_id=>notification.id)

li.divider
