div class="container"
  div class="col-lg-12"
     div class="page-header"
       h2 class="display-3"
         = t(:add)
         | &nbsp;
         = t(:page)

     == render 'form'

     = link_to t(:back), pages_path
