
  div class="container"
    div class="col-lg-12"
      div class="page-header"
          h1
            = t(:tickets)
            | :
      div class=""
        table
          thead
            tr
              th Event
              th Amount
              th Ticket type
              th Token
              th
              th
              th

          tbody
            - @tickets.each do |ticket|
              tr
                td = link_to ticket.event.title, event_path(ticket.event)
                td = ticket.amount
                td = ticket.ticket_type.name
                td = ticket.token
                td = link_to t(:show), ticket
                td = link_to t(:edit), edit_ticket_path(ticket)
                td = link_to t(:destroy), ticket, data: { confirm: t(:are_you_sure) }, method: :delete

        br
      div class=""
        = link_to t(:new) + t(:ticket), new_ticket_path
