
  div class="container"
    div class="col-lg-12"
      div class="page-header"
          h1
            = t(:ticket)
            | :
      div class=""
        p#notice = notice
      div class=""
        p
          strong
            = t(:event)
            | : &nbsp;
          = @ticket.event
        p
          strong
            = t(:amount)
            | : &nbsp;
          = @ticket.amount
        p
          strong
            = t(:ticket_type)
            | : &nbsp;
          = @ticket.ticket_type
        p
          strong
            = t(:token)
            | : &nbsp;
          = @ticket.token
      div class=""
        => link_to 'Edit', edit_ticket_path(@ticket)
        '|
        =< link_to 'Back', tickets_path
