div class="container"
 div class="col-lg-12"
    div class="page-header"
      - if notice
        div class="col-lg-12"
          div class="alert alert-dismissible alert-success"
            button type="button" class="close" data-dismiss="alert"
              | &times;
            = notice
    div class="col-lg-12"
      div class="col-lg-3"
        div class="card bg-light mb-3" style="max-width: 20rem;"
          div class="card-header"
          div class="card-body" style="text-align: center"
            p class="card-text"
              = image_tag @user.avatar.url(:medium), class: "img-circle img-fluid"
            h4 class="card-title"
              = @user.name
            = t(:view_user_like)
            | &nbsp;
            = link_to "Json", user_badges_path(@user.id)

      div class="col-lg-9"
        div class="list-group"
          div class="col-lg-9 list-group-item"
            h4 = t(:my_badges) if @badges.count>0
          div class="col-lg-9 list-group-item"
            - @badges.each do |badge|
              = render  badge
          div class="col-lg-9"
            - @user.communities.each do |community|
              div class="card bg-light mb-3" style=""
                div class="card-header"
                  = t(:community)
                  | &nbsp;:
                div class="card-body "
                  h4 class="card-title"
                    = link_to community.name, community_path(community)
                  p class="card-text"
                    = strip_tags(community.information).truncate(300)
                    - if strip_tags(community.information).size > 300
                      | &nbsp;
                      = link_to t(:more), community_path(community)
            - @user.news.where("publish=true").order("published_at desc").each do |article|
              div class="card bg-light mb 3" style=""
                div class="card-header"
                  = t(:news)
                  | &nbsp;
                div class="card-body"
                  h4 class="card-title"
                    = link_to article.title, news_path(article)
                  p class="card-text"
                    = strip_tags(article.news_content.content).truncate(300)
                    - if strip_tags(article.news_content.content).truncate(300).size > 300
                      | &nbsp;
                      = link_to t(:more), news_path(article)
