<%data='<div class="col-lg-12">' %>
<%data+="<h3>#{t(:board)}:</h3>" %>
<%data+='<div class="col-lg-10"></div>
<div class="col-lg-2">'%>
<%data+=  link_to t(:board_new_subject),new_community_board_url(@community), remote: true,class: "btn btn-info"%>
<%data+='</div><div class="row text-center">'%>
<%data+= "#{will_paginate @boards, {link_options: {'data-remote': true}, renderer: BootstrapPagination::Rails }}" %>
<%data+='</div><div id="new_board_data"></div><p>&nbsp;</p><div id="board_list" class="list-group">'%>
$('#allcontent').html('<%= j data.html_safe %>');
<% @boards.each do |board|%>
$('#board_list').append('<%= j render board %>');
<%end%>
<%data+='</div></div>'%>
$('#boards').addClass("active")
