$('#community_modal_title').html("<%= j @community.name + '-' + t(:new_community_board_subject)%>");
$('#community_modal_content').html("<%= j render('form') %>" );
$('#show_community').modal('show');
