<%if @board %>
  <%data='<div class="col-lg-12">' %>
  <%data+="<h3>#{t(:board)}:</h3><div class=\"col-lg-4\">" %>
  <%data+=link_to t(:return_to_board),community_boards_url(@community.subdomain), remote: true%>
  <%data+='</div><div class="col-lg-6"></div>
  <div class="col-lg-2">'%>
  <%data+=  link_to t(:board_new_comment),new_community_board_board_message_url(@community,@board), remote: true,class: "btn btn-info"%>
  <%data+="</div><h4>#{@board.subject.capitalize}</h4><p>&nbsp;</p><div class=\"row text-center\">" %>
  <%data+="#{ will_paginate @board_messages, {link_options: {'data-remote': true}, renderer: BootstrapPagination::Rails }}" %>
  <%data+="</div><div id=\"board_message_list\" class=\"list-group\">" %>
  $('#allcontent').html('<%= j data.html_safe %>');
  <% @board_messages.each do |board|%>
  $('#board_message_list').append('<%= j render board %>');
  <%end%>
<%else%>
 alert('No data found');
<%end%>
