<%if @board %>
<%data='<div id="board_subject_#{@board.id}>"
  <h4 class="font-weight-bold">'%>
<%data+= link_to @board.subject, community_board_url(@board.community.subdomain,@board), remote: true %>
<%data+='</h4></div>'%>
$('#board_edit_<%=@board.id%>').html('');
$('#board_subject_<%=@board.id%>').html("<%= j data.html_safe%>");
$('#edit_board_<%=@board_id%>').remove();
$('#board_subject_<%=@board.id%>').toggle();
<%else%>
alert('Something when wrong');
<%end%>
