= form_for @badge_rule do |f|
  - if @badge_rule.errors.any?
    #error_explanation
      h2 = "#{pluralize(@badge_rule.errors.count, "error")} prohibited this badge_rule from being saved:"
      ul
        - @badge_rule.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :times
    = f.number_field :times
  .field
    = f.label :inmediatly
    = f.check_box :inmediatly
  .field
    = f.label :badgeble_type
    = f.text_field :badgeble_type
  .field
    = f.label :deliver
    = f.text_field :deliver
  .actions = f.submit
