div class="col-lg-6 col"
  div class="list-group"
    = link_to community_url(community.subdomain), class: "list-group-item list-group-item-action flex-column align-items-start" do
      div class="d-flex w-100 justify-content-between"
        h4 class="mb-1"
          = community.name
      div class="row"
        div class="col-lg-4"
          div class="text-center"
            = image_tag community.logo.url(:thumb), alt: community.name
        div class="col-lg-8"
          div class="text-left"
            p
              i class="fa fa-user fa-2x"
              | &nbsp;
              = community.user.name
            p
              i class="fa fa-group fa-2x"
              | &nbsp;
              = community.members.active.count
            p
              i class="fa fa-calendar-check-o fa-2x"
              | &nbsp;
              = community.events.count
