
  ul class="nav nav-tabs"
    li class="nav-item"
      = link_to t(:home), community_url(@community.subdomain),  class: "nav-link"
    li class="nav-item"
      = link_to t(:events), community_events_url(:community=>@community.subdomain),  class: "nav-link"
    - if user_signed_in?
      - if @member
          li class="nav-item"
            = link_to t(:members), community_members_url(@community.subdomain),  class: "nav-link", id: "members"
          li class="nav-item"
            = link_to t(:boards), community_boards_url(@community.subdomain), class: "nav-link",  id: "boards"
          - if @owner || @member.admin
            li class="nav-item dropdown"
              a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                | Admin
                span class="caret"
              div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35.5px, 0px); top: 0px; left: 0px; will-change: transform;"
                | &nbsp;
                i class="fa fa-mail-forward fa-1x"
                | &nbsp;
                = link_to t(:invites), community_invites_url(@community.subdomain), class: "dropdown-item", remote: true
                div class="dropdown-divider"
                | &nbsp;
                i class="fa fa-gear fa-1x"
                | &nbsp;
                = link_to t(:settings), edit_community_url(@community.subdomain), class: "dropdown-item"
                div class="dropdown-divider"
                | &nbsp;
                i class="fa fa-calendar fa-1x"
                | &nbsp;
                = link_to t(:new_event), new_event_url(:community=>@community.subdomain), class: "dropdown-item"
                div class="dropdown-divider"
                | &nbsp;
                i class="fa fa-envelope-o fa-1x"
                | &nbsp;
                = link_to t(:new_contact), new_community_contact_url(@community.subdomain), class: "dropdown-item"

      - else
        div class="col-lg-10"
        div class="col-lg-2"
          = button_to t(:community_join),
                      [@community,@community.members.new],
                      id: 'join_button',
                      remote: true, class: "btn btn-primary btn-sm"
