<%if @member %>
$('#join_button').remove();
var members = <%=@community.members.active.count%>
$('#members_count').text(members);
alert('Welcome to this group');
<%else%>
alert('Something when wrong');
<%end%>
