div class="container"
  div class="row"
    = render file: 'communities/show', layout: false
    div class="col-lg-12"
      div id="myTabContent" class="tab-content"
        | &nbsp;
        div id="allcontent"
         div  class="tab-pane" id="members"
            div id="member_list" class="list-group"
              - @members.each do |member|
                = render member
